* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; /*esto es para que el padding y margin no afecten el tamaño de los elementos */
  /*font-family: "Times New Roman", Times, serif;*/ /*Alguna fuente que queramos que aparezca en todo el contenido */
  list-style: none; /*quita los puntos de las listas */
  text-decoration: none; /*quita el subrayado de los links */
}

footer {
  background-color: #242834;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  height: 500px;
  width: 100%;
  min-height: 500px;
  padding: 0;
}

.footer-box-content {
  position: absolute;
  width: 25%;
  height: 100px;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.footer-box-bottom {
  width: 100%;
  top: 400px;
}
.footer-box-left {
  width: 25%;
  height: 400px;
}
.footer-box-left h4 {
  position: relative;
  right: 56px;
}
.footer-title {
  font-size: 14px;
  color: #f4f4f5;
  margin-bottom: 15px;
}
.footer-title-sub {
  color: #c7c7c7;
  font-size: 16px;
  text-align: justify;
  padding: 25px;
}
.footer-menu {
  color: #c7c7c7;
}
.footer-menu li {
  margin-bottom: 10px;
}
.footer-telephon-one {
  position: relative;
  right: 27px;
  margin-bottom: 10px;
  color: #c7c7c7;
  font-size: 16px;
}
.footer-telephon-two {
  position: relative;
  right: 23px;
  color: #c7c7c7;
  font-size: 16px;
}
#email {
  margin-bottom: 10px;
  color: #c7c7c7;
  font-size: 16px;
}
.footer-box-rigth {
  width: 25%;
  height: 400px;
  left: 75%;
}
.footer-box-middle-left {
  width: 25%;
  height: 400px;
  left: 25%;
}
.footer-box-middle-rigth {
  width: 25%;
  height: 400px;
  left: 50%;
}
.left {
  text-align: start;
  padding-left: 25px;
  padding-top: 15px;
}
.footer-icons {
  color: inherit; /* Usa el color del texto padre */
  position: absolute;
  top: 40vh;
  right: 47%;
  padding: 0 3%;
  transform: translateY(-50%);
}

.footer-icons i {
  display: block;
  color: #fafafa;
  margin: 26px 0;
  font-size: 24px;
  transition: all 0.5s ease;
}

.footer-icons i:hover {
  color: #4d4d4d;
  transform: translateY(-5px);
}
